@font-face {
	font-family: 'Volta Modern Roman';
	src: url('../fonts/VoltaModernDisplay-55Roman.otf');
}

@font-face {
	font-family: 'Volta Modern Medium';
	src: url('../fonts/VoltaModernDisplay-65Medium.otf');
}

@font-face {
	font-family: 'Volta Modern Bold';
	src: url('../fonts/VoltaModernDisplay-75Bold.otf');
}
